<h1 class="text-center m-5">Space X Mission Launch List</h1>

<div *ngFor="let mission of missions">
    <div class="list m-3" (click)="showDetails(mission.flight_number)">
        <mat-card class="example-card">
            <mat-card-title-group class="p-3">
               
              
                    <mat-card-title id="title" class=" text-center fw-bolder " >{{mission.mission_name}}</mat-card-title>
                    <mat-card-subtitle class="text-center" >{{mission.launch_year}}</mat-card-subtitle>
                    <img class="me-5" mat-card-lg-image [src]="mission.links.mission_patch_small">
            </mat-card-title-group>
        
    
            <mat-card-content id="details" class="text-center p-6">
                {{mission.details}}
            </mat-card-content>
        </mat-card>
    </div>
</div>