.details{
    background-color: rgb(200, 200, 200);
    border-radius: 50px;
    border:5px black solid;
    font-weight: 500;
}

.content{
    padding: 15px;
}

.side{
    float: right;
    
}
.img{
    padding: 40px;
}
span{
    padding-left: 10px;
}
h3{
    color: rgb(69, 112, 255);
}
