<h1 class="text-center m-3">SpaceX Mission Details</h1>
<div class="details m-3">
    <div class="content">
        <table>
            <tr>
                <td>
                    <div class="img">
                        <img [src]="mission?.links?.mission_patch_small">
                    </div>
                </td>
                <td>
                    <h3>{{mission?.mission_name}}</h3>
                    <p>Name : {{mission?.mission_name}}</p>
                    <p>Launch Year : {{mission?.launch_year}}</p>
                    <p>Flight number : {{mission?.flight_number}}</p>
                    <h3>Rocket</h3>
                    <p>Name : {{mission?.rocket?.rocket_name}}</p>
                    <p>Id : {{mission?.rocket?.rocket_id}}</p>
                    <p>Type : {{mission?.rocket?.rocket_type}}</p>
                    <h3>Launch Site</h3>
                    <p>Name : {{mission?.launch_site?.site_name_long}}</p>
                    <p>Site ID : {{mission?.launch_site?.site_id}}</p>
                </td>
            </tr>
        </table>
        <div>
            <h3>Launch Details</h3>
            <p>{{mission?.details}} </p>
            <h4>More Info on launch Details</h4>
            <span><a [href]="mission?.links?.video_link"><i class="bi bi-youtube fs-2 mb-3 text-black"></i></a></span>
            <span><a [href]="mission?.links?.wikipedia"><i class="bi bi-wikipedia fs-2 mb-3 text-black"></i></a></span>
            <span><a [href]="mission?.links?.reddit_launch"><i
                        class="bi bi-file-text fs-3 mb-3 text-black"></i></a></span>
        </div>
    </div>

</div>